.card-container {
    width: 100%;
    display: grid;
    grid-template-rows: repeat(auto-fit, auto-fit);
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    /* grid-gap: 1rem; */
    gap: 1rem;
}

.card {
    position: relative;
    background: #fff;
    height: 300px;
    padding-inline: .5rem;
    padding-block-start: .5rem;
    padding-block-end: 1rem;
    border-radius: 24px;
    gap: 1rem;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.card-image {
    width: 100%;
    height: 60%;
    border-radius: 16px;
    overflow: hidden;
}

.card-details {
    width: 100%;
    height: 15%;
}

.vues_likes_share {
    gap: .2rem;
    color: #cacaca;
    font-size: 12px;
}

.product-infos {
    flex-grow: 1;
}


.card-details .product-name {
    letter-spacing: 0.5px;
}

.card-details .price {
    color: #2c2c2c;
    font-size: 12px;
}

.buy-btn {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
    border-radius: 20px;
    background: #ffce51;
    color: #2d2d2e;
    cursor: pointer;
    transition: background .5s ease;
    border: 1px solid #ffce51;
}

.buy-btn:hover {
    background: #ffa500;
}

.origin {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 5%;
    left: 5%;
}

.seller {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background: rgb(109, 71, 0);
    cursor: pointer;
    opacity: .8;
    transition: opacity .5s ease-in-out;
    overflow: hidden;
}

.seller:hover {
    opacity: 1;
}

.origin .fi {
    position: absolute;
    top: -10%;
    right: -40%;
    font-size: 14px;
}

.like,
.share {
    all: unset;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: #ffffffae;
    color: #cacaca;
    border-radius: 50px;
    cursor: pointer;
    transition: background .5s ease;
}

.country {
    font-size: 14px;
}

.like {
    top: 5%;
    right: 5%;
}

.share {
    top: 18%;
    right: 5%;
}

.like:hover,
.share:hover {
    background: #fff;
}

.like:hover .bi {
    color: rgba(50, 129, 255, 0.867);
}

.share:hover .bi {
    color: rgba(255, 190, 50, 0.867);
}